/* style.css for all pages */

body {
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;
}

p{
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

.title-container{
    background-color: #50545b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 1;
}

.title{
    text-align: center;
    font-size: 30px;
    flex-basis: 70%;
    color: #0493ca;
}

.title-links{
    flex: 1;
}

.links {
    text-align: center;
}

.subtitle {
    background-color: #50545b;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: #0493ca
}

img{
    width: auto;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
