/* style.css for all pages */

body {
    background-color: #FFECCE;
    font-family: 'Space Grotesk', sans-serif;
}

p{
    margin: 10px;
}

.links {
    text-align: center;
}

.title{
    background-color: #8bc1ff;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
}

.subtitle {
    background-color: #8bc1ff;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: #773399
}

img{
    width: auto;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
